{% extends 'website/base.html' %}
{% load static %}

{% block base_content %}

    {# HERO DIV #}
    <section class="banner-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="banner-category">
                        <div class="banner-category-head">
                            <i class="fas fa-bars"></i><span>Categories</span>
                        </div>
                        <ul class="banner-category-list">
                            {% for object in categories %}
                                <li class="banner-category-item">
                                    <a href="{% url 'website:product-list' %}?category__id={{ object.pk }}">
                                        <i class="fa fa-edit"></i>
                                        <span>{{ object.name }}</span>
                                    </a>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="home-grid-slider slider-dots">
                                <div class="banner-wrap bg1">
                                    <div class="row align-items-center">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="banner-content"><h2>we are delivered organic foods item within
                                                24
                                                hours.</h2><a href="#" class="btn btn-inline"><i
                                                    class="fas fa-shopping-basket"></i><span>shop now</span></a></div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="banner-image"><img
                                                    src="{% static 'website/images/home/index/01.png' %}" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner-wrap bg2">
                                    <div class="row align-items-center">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="banner-content"><h2>get your organic healthy foods item online
                                                today.</h2><a href="#" class="btn btn-inline"><i
                                                    class="fas fa-shopping-basket"></i><span>shop now</span></a></div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="banner-image"><img
                                                    src="{% static 'website/images/home/index/02.png' %}" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner-wrap bg3">
                                    <div class="row align-items-center">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="banner-content"><h2>we are delivered organic foods item within
                                                24
                                                hours.</h2><a href="#" class="btn btn-inline"><i
                                                    class="fas fa-shopping-basket"></i><span>shop now</span></a></div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="banner-image"><img
                                                    src="{% static 'website/images/home/index/03.png' %}" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="banner-promo"><a href="#"><img
                                    src="{% static 'website/images/promo/home/04.jpg' %}"
                                    alt="promo"></a></div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="banner-promo"><a href="#"><img
                                    src="{% static 'website/images/promo/home/05.jpg' %}"
                                    alt="promo"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# 4 properties #}
    <section class="section intro-part" id="properties">
        <div class="container">
            <div class="row intro-content">
                <div class="col-sm-6 col-lg-3">
                    <div class="intro-wrap">
                        <div class="intro-icon"><i class="fas fa-truck"></i></div>
                        <div class="intro-content"><h5>free home delivery</h5>
                            <p>Instant fast and secure delivery.</p></div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="intro-wrap">
                        <div class="intro-icon"><i class="fas fa-sync-alt"></i></div>
                        <div class="intro-content"><h5>instant return policy</h5>
                            <p>Its our policy to return if it doesn't fulfills your needs.</p></div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="intro-wrap">
                        <div class="intro-icon"><i class="fas fa-headset"></i></div>
                        <div class="intro-content"><h5>quick support system</h5>
                            <p>24/7 support to help and guide our customers.</p></div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="intro-wrap">
                        <div class="intro-icon"><i class="fas fa-lock"></i></div>
                        <div class="intro-content"><h5>secure payment way</h5>
                            <p>Easy, Secure and Protected payments gateways.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# feature items #}
    <section class="section deals-part" id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading"><h2>New Products</h2></div>
                </div>
            </div>
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4">
                {% for product in products %}
                    <div class="col">
                        <div class="product-card">
                            <div class="product-media">
                                <div class="product-label"></div>
                                <button class="product-wish wish"></button>
                                <a class="product-image" href="{% url 'website:product-detail' product.pk %}"><img
                                        src="{{ product.image.url }}"
                                        alt="product"></a>
                                <div class="product-widget">
                                    <a title="Product View" href="{% url 'website:product-detail' product.pk %}"
                                       class="fas fa-eye">
                                    </a>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-rating">
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    (3)
                                </div>
                                <h6 class="product-name">{{ product.name }}</h6>
                                <h6 class="product-price">
                                    <span>{{ product.sale_price }}</span>
                                </h6>
                                <button class="product-add" title="Add to Cart"><i
                                        class="fas fa-shopping-basket"></i><span>add</span></button>
                                <div class="product-action">
                                    <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i>
                                    </button>
                                    <input class="action-input" title="Quantity Number" type="text" name="quantity"
                                           value="1">
                                    <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-btn-25"><a href="{% url 'website:product-list' %}" class="btn btn-inline"><i
                            class="fas fa-eye"></i><span>view all newest</span></a></div>
                </div>
            </div>
        </div>
    </section>

    {# SHOP BY CATEGORY #}
    <section class="section category-part" id="categories">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading"><h2>shop by categories</h2></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="category-slider slider-arrow">

                        {% for category in categories %}
                            <div class="category-wrap">
                                <div class="category-media">
                                    {% if category.image %}
                                        <img src="{{ category.image.url }}" alt="category">
                                    {% else %}
                                        <img src="{% static 'website/core/images/150_150.jpg' %}" alt="category">
                                    {% endif %}
                                    <div class="category-overlay">
                                        <a href="{% url 'website:product-list' %}?category__id={{ category.pk }}"><i class="fas fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="category-meta"><h4>dairy items</h4>
                                    <p>(25 items)</p>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-btn-50">
                        <a href="{% url 'website:product-list' %}" class="btn btn-outline">
                            <i class="fas fa-eye"></i><span>view all category</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# SHOP BY BRAND #}
    <section class="section brand-part" id="brands">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading"><h2>shop by brands</h2></div>
                </div>
            </div>
            <div class="brand-slider slider-arrow">

                {% for brand in brands %}
                    <div class="brand-wrap">
                        <div class="brand-media">
                            {% if brand.image %}
                                        <img src="{{ brand.image.url }}" alt="category">
                                    {% else %}
                                        <img src="{% static 'website/core/images/250_250.jpg' %}" alt="category">
                                    {% endif %}
                            <div class="brand-overlay"><a href="{% url 'website:product-list' %}?brand__id={{ brand.pk }}"><i class="fas fa-link"></i></a></div>
                        </div>
                        <div class="brand-meta"><h4>natural greeny</h4>
                            <p>(45 items)</p>
                        </div>
                    </div>
                {% endfor %}


            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-btn-50"><a href="{% url 'website:product-list' %}" class="btn btn-outline"><i
                            class="fas fa-eye"></i><span>view all brands</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
