{% extends 'website/base.html' %}
{% load static %}

{% block base_title %}
    {{ object.name }}
{% endblock %}


{% block base_content %}


    <section class="inner-section mt-5">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4 my-4">
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <div><img src="{{ object.image.url }}" alt=""
                                              class="img-fluid mx-auto d-block"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="mt-4 mt-xl-3"><a href="/product/?category__id={{ object.category.pk }}"
                                                         class="text-primary">{{ object.category }}</a> <h4
                                    class="mt-1 mb-3">{{ object.name }} {% if object.brand %}({{ object.brand }}
                                ){% endif %}</h4>
                                <p class="text-muted float-start me-3"><span class="bx bxs-star text-warning"></span>
                                    <i class="text-warning icofont-star"></i>
                                    <i class="text-warning icofont-star"></i>
                                    <i class="text-warning icofont-star"></i>
                                    <i class="text-warning icofont-star"></i>
                                    <i class="icofont-star"></i>
                                </p>
                                <p class="text-muted mb-4">( 3 Customers Review )</p>
                                {% if object.status %}
                                    <h6 class="text-success text-uppercase">Available</h6>
                                {% else %}
                                    <h6 class="text-danger text-uppercase">Out of Stock</h6>
                                {% endif %}

                                <h5 class="mb-4">Price : <span class="text-muted me-2"></span>
                                    <b>${{ object.sale_price }}
                                        USD</b></h5>
                                <p class="text-muted mb-4">
                                    {{ object.description }}
                                </p>

                                <div class="product-color"><h5 class="font-size-15">Tags :</h5>
                                    <a href="#"><p>Black</p></a>
                                    <a href="#"><p>Blue</p></a>
                                    <a href="#"><p>Gray</p></a>
                                </div>
                                {#                                <div class="product-colo mt-2"><h5 class="font-size-15"></h5>#}
                                {#                                    <a href="/" class="active">#}
                                {#                                        <div class="product-color-item border rounded">#}
                                {#                                            <img src="{{ object.image.url }}" alt="" height="100" class="avatar-md">#}
                                {#                                        </div>#}
                                {#                                        <p></p></a>#}
                                {#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if object.detailed_description %}
        <section class="inner-section">
            <div class="container">
                <div class="product-details-frame"><h3 class="frame-title">Description</h3>
                    <div class="tab-descrip"><p>
                        {{ object.detailed_description|safe }}
                    </p>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}


{% endblock %}


