{% extends 'website/base.html' %}
{% load static %}


{% block base_content %}


    <section class="inner-section">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="{% static 'website/images/product/01.jpg' %}">
                        </div>
                        <div class="col-lg-6">
                            <div class="details-content"><h3 class="details-name"><a href="#">existing product name</a>
                            </h3>
                                <div class="details-meta"><p>SKU:<span>1234567</span></p>
                                    <p>BRAND:<a href="#">radhuni</a></p></div>
                                <div class="details-rating"><i class="active icofont-star"></i><i
                                        class="active icofont-star"></i><i class="active icofont-star"></i><i
                                        class="active icofont-star"></i><i class="icofont-star"></i><a href="#">(3
                                    reviews)</a></div>
                                <h3 class="details-price">
                                    <del>$38.00</del>
                                    <span>$24.00<small>/per kilo</small></span></h3>
                                <p class="details-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit facere
                                    harum natus amet soluta fuga consectetur alias veritatis quisquam ab eligendi itaque
                                    eos maiores quibusdam.</p>
                                <div class="details-list-group"><label class="details-list-title">tags:</label>
                                    <ul class="details-tag-list">
                                        <li><a href="#">organic</a></li>
                                        <li><a href="#">fruits</a></li>
                                        <li><a href="#">chilis</a></li>
                                    </ul>
                                </div>
                                <div class="details-list-group"><label class="details-list-title">Share:</label>
                                    <ul class="details-share-list">
                                        <li><a href="#" class="icofont-facebook" title="Facebook"></a></li>
                                        <li><a href="#" class="icofont-twitter" title="Twitter"></a></li>
                                        <li><a href="#" class="icofont-linkedin" title="Linkedin"></a></li>
                                        <li><a href="#" class="icofont-instagram" title="Instagram"></a></li>
                                    </ul>
                                </div>
                                <div class="details-add-group">
                                    <button class="product-add" title="Add to Cart"><i
                                            class="fas fa-shopping-basket"></i><span>add to cart</span></button>
                                    <div class="product-action">
                                        <button class="action-minus" title="Quantity Minus"><i
                                                class="icofont-minus"></i></button>
                                        <input class="action-input" title="Quantity Number" type="text" name="quantity"
                                               value="1">
                                        <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="details-action-group"><a class="details-wish wish" href="#"
                                                                     title="Add Your Wishlist"><i
                                        class="icofont-heart"></i><span>add to wish</span></a><a class="details-compare"
                                                                                                 href="compare.html"
                                                                                                 title="Compare This Item"><i
                                        class="fas fa-random"></i><span>Compare This</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="inner-section">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product-details-frame"><h3 class="frame-title">Description</h3>
                                <div class="tab-descrip"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                    Consequatur, ex! Incidunt nemo aspernatur fugiat, saepe suscipit sit perferendis
                                    illum
                                    magnam voluptates aliquid blanditiis, dolor assumenda dolorem ullam harum, doloribus
                                    molestiae! Unde voluptas maiores exercitationem aperiam debitis accusantium, placeat
                                    vero
                                    neque, atque eius numquam incidunt, culpa a odit consequatur nostrum aut nisi
                                    quisquam sequi
                                    dignissimos sed. Odio necessitatibus officiis repudiandae omnis soluta fugiat
                                    aliquam eius
                                    quae. Unde, ipsam atque assumenda consequuntur quia alias nulla, cupiditate ab quos
                                    eveniet
                                    pariatur expedita repellendus fugit. Quisquam fuga et, dolore aut temporibus atque
                                    itaque
                                    nesciunt reiciendis nobis, deleniti nihil vel qui perferendis molestias aliquam
                                    doloremque.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}


