{% load static %}

<aside class="nav-sidebar">
    <div class="nav-header"><a href="#"><img src="{% static 'website/images/logo.png' %}" alt="logo"></a>
        <button class="nav-close"><i class="icofont-close"></i></button>
    </div>
    <div class="nav-content">
        <div class="nav-btn"><a href="#" class="btn btn-inline"><i
                class="fa fa-unlock-alt"></i><span>join here</span></a></div>
        <div class="nav-select-group">
            <div class="nav-select"><i class="icofont-world"></i><select class="select">
                <option value="english" selected>English</option>
            </select></div>
            <div class="nav-select"><i class="icofont-money"></i><select class="select">
                <option value="english" selected>Doller</option>
            </select></div>
        </div>
        <ul class="nav-list">
            <li><a class="nav-link" href="#"><i class="icofont-logout"></i>C1</a></li>
            <li><a class="nav-link" href="#"><i class="icofont-logout"></i>C1</a></li>
            <li><a class="nav-link" href="#"><i class="icofont-logout"></i>C1</a></li>
            <li><a class="nav-link" href="#"><i class="icofont-logout"></i>C1</a></li>
            <li><a class="nav-link" href="#"><i class="icofont-logout"></i>C1</a></li>
        </ul>
        <div class="nav-info-group">
            <div class="nav-info"><i class="icofont-ui-touch-phone"></i>
                <p><small>call us</small><span>(+880) 183 8288 389</span></p></div>
            <div class="nav-info"><i class="icofont-ui-email"></i>
                <p><small>email us</small><span>support@example.com</span></p></div>
        </div>
        <div class="nav-footer"><p>All Rights Reserved by <a href="#">Mironcoder</a></p></div>
    </div>
</aside>